.lorem {
  color: #a4098d;
}
.delete {
  background-color: rgb(251, 0, 0);
  color: black;
  font-weight: 800;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: black;
  display: block;
  margin: auto;
}
.addhart {
  background-color: rgb(255, 98, 208);
  color: black;
  font-weight: 800;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: black;
  display: block;
  margin: auto;
}
.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

body {
  background-color: lightblue;
}
